

* {
  
  /* background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTewfp6kwEJmApMbKgMe1g0FUpMVX2PymTQcg&usqp=CAU"); */
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(117, 19, 245, 0.986);
  --secundary-color: rgb(107, 104, 104);
}


.App {
  /* box-sizing: content-box;  
  width: 230px;
  height: 30px;
  padding: 40px;  
  border: 1.5px solid rgb(112, 13, 226);
  display: -webkit-inline-flex;
  border-radius: 10px; */
}

.card:hover{
  background-color: rgb(139, 194, 178);
}
.App{
  padding: 10px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  /* flex-direction: row; */
  font-family: sans-serif;
  /* position: relative; */
  display: -webkit-inline-flex;
  
}

.world {
  background-color: var(--primary-color);
  height: 35px;
  text-align: center;
  line-height: 150%;
  box-shadow: 0 1px 2px rgb(45, 42, 49);
  /* border-radius: 5px; */
}

.results {
  color: var(--secundary-color);
  padding: 10px;
  /* font-size: 0.7rem; */

  /* flex-grow: 1; */
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* width: 50%; */
  
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 10px;
}

.row {
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: red; */
  align-items: flex-end;
  
}

